{% extends 'base.html' %}


{% block head %}
    <head>Chain me up</head>
{% endblock %}

{% block body %}
    <h1>Register page</h1>

 <div class="form">
        <form action="/register" method="POST">
            <a>Place your card on the reader in order to import your keys.</a>
            <input type="text" name="pubkey" id="pubkey">
<br>
            <a>lastname:</a>
            <input type="text" name="lastname" id="lastname">
<br>
            <a>Firstname</a>
            <input type="text" name="firstname" id="firstname">
<br>
            <a>Email</a>
            <input type="text" name="email" id="email">
<br>
            <a>Phone Nr:</a>
            <input type="text" name="phonenr" id="phonenr">
<br>

            <input type="submit" value="Add contact">
        </form>
    </div>
{% endblock %}