{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <form class="text-center p-5" method="post" action="/register">
        <p class="h1 mb-4">Register a new Account</p>
        <input type="text" class="form-control mb-4" placeholder="Firstname" name="firstname" id="firstname">
        <input type="text" class="form-control mb-4" placeholder="lastname" name="lastname" id="lastname">
        <input type="email" class="form-control mb-4" placeholder="Email" name="email" id="email">
        <input type="tel" class="form-control mb-4" placeholder="Tel." name="phonenr" id="phonenr">
        <button class="btn btn-block btn-outline-dark" type="submit">Register with Card</button>
        <p>Already got an account ?
            <a href="/login">Login</a>
        </p>
     </form>
{% endblock %}