<!-- extend base layout -->
{% extends "base.html" %}
{% block head %}
<style>
    .link {
        stroke: #aaa;
    }

    .node text {
        stroke:#333;
        cursos:pointer;
    }

    .node circle{
        stroke:#fff;
        stroke-width:3px;
        fill:#555;
    }
	label {
	  display: inline-block;
	  width: 160px;
	  text-align: right;
        margin: 5px;
	}
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
        margin: 10px;
	}
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	input:checked + .slider {
	  background-color: #2196F3;
	}
	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}
	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}
	.slider.round:before {
	  border-radius: 50%;
	}
</style>


{% endblock %}
{% block body %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 500;

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.05)
    .distance(100)
    .charge(-100)
    .size([width, height]);

d3.json("/graph/graphFile.json", function(json) {
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link")
    .style("stroke-width", function(d) { return Math.sqrt(d.weight); });

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("circle")
      .attr("r","5");

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});

</script>

<label class="switch">
		{% if filter == True %}
			<label>Filtering</label>
			<input type="checkbox" onchange="window.location.href='/?filter=False'" checked>
		{% else %}
			<label>Non-Filtering</label>
			<input type="checkbox" onchange="window.location.href='/?filter=True'">
		{% endif %}
  		<span class="slider round"></span>
	</label>
	{% if filter == True %}
		<h2 style="margin-left: 20px">Your connections:</h2>
	{% else %}
		<h2 style="margin-left: 20px">All connections:</h2>
	{% endif %}
		{% if posts %}
		<table class="table table-bordered">
			<th>Lastname</th>
			<th>Firstname</th>
			<th>Email</th>
			<th>Phone number</th>
			<th>Time</th>
    	{% for post in posts %}
			<tr>
				<div class="name-header">
					<td>{{post.two.lastname}}</td>
					<td>{{post.two.firstname}}</td>
					<td>{{post.two.email}}</td>
					<td>{{post.two.phonenr}}</td>
				</div>
					<td><div class="post_box-subtitle"> Posted at <i>{{readable_time(post.timestamp)}}</i></div></td>
					<div class="post_box-body">
						<p>{{post.content}}</p>
					</div>
			</tr>
	{% endfor %}
		</table>
{% else %}
<h3>No connections yet!</h3>
{% endif %}

	<style>
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 16px;
		    margin-bottom: 8px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>
    </div>
{% endblock %}
<!--
{% block content %}
	<br>

	<center>
	<form action="/submit" id="textform" method="post">
	    <input type="submit" value="Post">
	</form>
	</center>

	<br>

	<a href="{{node_address}}/mine"><button>Request to mine</button></a>
	<a href="/display"><button>Resync</button></a>

	<div style="margin: 20px;">

    {% for post in posts %}
    <div class="post_box">
	   <div class="post_box-header">
	      <div class="post_box-options"><button class="option-btn">Reply</button></div>
	      <div class="name-header">
			  <b>PublicOne:</b>{{post.publicOne}}
			  </p>
			  <b>PublicTwo:</b>{{post.publicTwo}}
		  </div>
	      <div class="post_box-subtitle"> Posted at <i>{{readable_time(post.timestamp)}}</i></div>
	   </div>
	   <div>
	      <div class="post_box-body">
	         <p>{{post.content}}</p>
	      </div>
	   </div>
	</div>
	{% endfor %}

	<style>
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 16px;
		    margin-bottom: 8px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>
    </div>
{% endblock %}
-->

